---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Rob | Best Dev Inc { title } | Import supply chain technology company</title>

		<title>Mercado | Import supply chain technology company</title>
<meta property="og:description" content="Best Dev Inc through a digital, networked, and automated platform to ensure every order arrives on-time and in-full.">
<meta property="og:image" content="https://mercadolabs.com/wp-content/uploads/2022/11/Mercado-Thumbnail-1.0-Homepage-2.jpg">
		<!-- favicon stuff (copied over) -->
		<link rel="icon"
			href="https://mercadolabs.com/wp-content/uploads/2020/06/cropped-Mercado_Website_Favicon-squashed-32x32.png"
			sizes="32x32">
		<link rel="icon"
			href="https://mercadolabs.com/wp-content/uploads/2020/06/cropped-Mercado_Website_Favicon-squashed-192x192.png"
			sizes="192x192">
		<link rel="apple-touch-icon"
			href="https://mercadolabs.com/wp-content/uploads/2020/06/cropped-Mercado_Website_Favicon-squashed-180x180.png">
		<meta name="msapplication-TileImage"
			content="https://mercadolabs.com/wp-content/uploads/2020/06/cropped-Mercado_Website_Favicon-squashed-270x270.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html,body {
		height: 100%;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
